<input #skufilter (keyup)="onKey(skufilter.value)" (keyup.enter)="onEnter(skufilter.value)">
<div class='skulist'>
  <div class="ms-Grid" dir="ltr" >
    <div class="ms-Grid-row" *ngFor="let sku of filteredskus"
    [class.selected]="sku === selectedSku"
    (click)="onSelect(sku)">
        <sku [id]="sku.id" [name]="sku.name"></sku>
    </div>
  </div>
</div>
<!-- <ul class="skus">
  <li *ngFor="let sku of filteredskus"
    [class.selected]="sku === selectedSku"
    (click)="onSelect(sku)">
    <<span class="badge">{{sku.id}}</span> {{sku.name}}
    <sku [id]="sku.id" [name]="sku.name"></sku>
  </li>
</ul> -->